<html>

<head>
  <!-- Include Ecwid JS SDK -->
  <script src="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/js/1.2.5/ecwid-app.js"></script>

  <script>
    EcwidApp.init({
      app_id: "custom-app-10951064-1",
      autoloadedflag: true, 
      autoheight: true
    });

    var storeData = EcwidApp.getPayload();
    var storeId = storeData.store_id;
    var accessToken = storeData.access_token;
    var language = storeData.lang;

    if (storeData.public_token !== undefined){
      var publicToken = storeData.public_token;
    }

    if (storeData.app_state !== undefined){
      var appState = storeData.app_state;
    }


    var en = {
      title: "Mandala Discount Setting",
      storeUrl: "",
      description: "Test app for applying discount if "
      }
    
      var languagePack = [eu];
      
    console.log("test app ",storeData)
  </script>

  <!-- Include Ecwid CSS Framework -->
  <link rel="stylesheet" href="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/css/1.3.6/ecwid-app-ui.css"/>  
</head>

<body class='normalized'>
  <h1>Test App</h1>

<!-- JS for CSS Framework components -->
  <script src="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/css/1.3.6/ecwid-app-ui.min.js"></script>
</body>

</html>